angr==9.2.13
monkeyhex==1.7.4
networkx==2.8.6

++ Unzip the file under any directory
++ To run the program use the following command

$ cd final
$ python BinaryAnalysis.py </path/to/binary>

(Ignore the errors/warning thrown on screen, its part of CFGFast)

++ After running syscall-policy.DOT and nodes-syscall.txt file will be created under src/ directory

++ The src directory also contains other pre-processed files along with a headers directory which contains mappings from syscall numbers to names.

++ tracing.cpp is the system-call-policy-monitor implemented using ptrace which takes the graphi and static compiled binary  as input and detects any violation in syscall policy

++ /test directory has few pre-compiled static libraries.

++ Running the monitor:

$ ./src/tracing ./test/loop

This will generate an output, and print and ABORT program if violation detected.

